<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">inicio</a>
    <a href="/hamilton">Nicole Hamilton</a>
    <h1>Nicole Hamilton</h1>
    <img src="/img/hamilton.jpg" alt="">
    <p>Hamilton C shell es un clon del shell Unix C y utilidades[1][2] para Microsoft Windows creado por Nicole Hamilton[3] en Hamilton Laboratories como un trabajo completamente original, no basado en ningún código anterior. Fue lanzado por primera vez en OS/2 el 12 de diciembre de 1988[4][5][6][7][8][9] y en Windows NT en julio de 1992. [10][11][12] La versión de OS/2 fue descontinuada en 2003, pero la versión de Windows continúa siendo compatible activamente.</p>
</body>
</html>