<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Heroes</h1>
<a href="/babbage">Charles Babbage</a><br>
<a href="berners-lee">Berners-Lee</a><br>
<a href="clarke">Edith Clarke</a><br>
<a href="hamilton">NicoleHamilton</a><br>
<a href="hopper">GraceHopper</a><br>
<a href="lovelace">Ada Lovelace</a><br>
<a href="turing">Adan Turing</a>

</body>
</html>