<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">inicio</a>
    <a href="/turing">Adan Turing</a>
    <h1>Adan Turing</h1>
    <img src="/img/turing.jpg" alt="">
    <p>Alan Mathison Turing OBE FRS ( / TJ ʊər ɪ ŋ / ; 23 junio 1912 a 7 junio 1954) fue un Inglés matemático , científico de la computación , el lógico , criptoanalista , filósofo y biólogo teórico . Turing fue muy influyente en el desarrollo de la informática teórica , proporcionando una formalización de los conceptos de algoritmo y computación con la máquina de Turing , que puede considerarse un modelo de una computadora de propósito general . Turing es ampliamente considerado el padre de la informática teórica y la inteligencia artificial . Alan Turing - https://es.abcdef.wiki/wiki/Alan_Turing</p>
</body>
</html>